<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
		<script>
	jQuery(document).ready(function($) {
		codpos_autocomplete_json();
		$.ajaxSetup({
			beforeSend: function(){
				$(".errores").empty();
			}
		});
		$('#id_programa_externo').autocomplete({
			source: '/autocomplete_programas_externos/'
		});
		$('#agregar_documento_post').submit(function(event){
			event.preventDefault();
			$.post('/agregar_documento_post/', $('form').serialize(), function(data, textStatus, xhr) {
				window.location.assign(data);
			}).error(function(data){
				$.each(JSON.parse(data.responseText).errores, function(index, val) {
					var mensaje = '<p>'  + val  + '</p>';
					$('.errores').append(mensaje);
				});
			});
		});
		
	});
	</script>

</head>
<body>
    <h1>Agregar documento</h1>
    <div class="modal_agregar" style="width:300px;">
            <form id="agregar_documento_post" action="/agregar_documento_post/" method="POST">{%csrf_token%}
            {{formulario.as_p}}
    <div class="botones_modal"><input type="submit" value="Guardar"></div>
        </form>
    <span class="errores"></span>
</div>
</body>
</html>

