{%extends "captura/base.html"%}
{%block body%}
<div class="modal_agregar" style="width:300px;">
	<form action="/buscador/" method="GET">
		{{formulario.as_p}}
		<input type="submit" value="Buscar">
	</form>
	{%for documento in resultados%}
		<div>
			Universidad: {{documento.universidad}} <br><br>
			{%if documento.folio%}
				Folio: {{documento.folio}} <br><br>
			{%endif%}
			Tipo del documento: {{documento.tipo_docto.tipo_docto}} <br><br>
			Programa Externo: {{documento.programa_externo.nombre}} <br><br>
			Nombre del Capturista: {{documento.capturista.first_name}} {{documento.capturista.last_name}} <br><br>
			Nombre del Alumno o Prospecto: {{documento.alumno_prospecto}} <br><br>
			<a href="/asignar_documento/{{documento.id}}/">Ir a este Documento</a>
		</div>
		<br>
	{%empty%}
		<p>No hay documentos</p>
	{%endfor%}
{%endblock body%}
</div>
