<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
		<script>
	jQuery(document).ready(function($) {
		$.ajaxSetup({
			beforeSend: function(){
				$(".errores").empty();
			}
		});

		$('#id_programa_externo').autocomplete({
			source: '/autocomplete_programas_externos/'
		});
		$('#editar_documento_post').submit(function(event){
			event.preventDefault();
			$.post('/editar_documento_post/' + $('#documento_id').val() +'/', $('form').serialize(), function(data, textStatus, xhr) {
				window.location.reload();
			}).error(function(data){
				$.each(JSON.parse(data.responseText).errores, function(index, val) {
					var mensaje = '<p>'  + val  + '</p>';
					$('.errores').append(mensaje);
				});
			});
		});
		
	});
	</script>

</head>
<body>
<div class="modal_agregar" style="width:300px;">
<h1>Editar documento</h1>
		<form id="editar_documento_post" action="/editar_documento_post/" method="POST">
		{%csrf_token%}
		{{formulario.as_p}}
        <div class="botones_modal">
		<input type="submit" value="Guardar">
        </div>
	</form>
	<input type="hidden" id="documento_id" value="{{documento.id}}">
	<span class="errores"></span>
</div>
</body>
</html>

