{%extends "captura/base.html"%}
{%block js%}
	<script>
	jQuery(document).ready(function($) {
		$('#agregar_eq').click(function(){
			$.get('/agregar_documento/', function(data) {
				$.fancybox(data);
			});
		});
		$('#agregar_pre_dic').click(function(){
			$.get('/agregar_pre_dic/', function(data) {
				$.fancybox(data);
			});
		});
	});

	function editar_materia(id_materia){
		$.get('/editar_materia/' + id_materia  +'/', function(data) {
			$.fancybox(data);
		});
	}
	</script>
{%endblock js%}
{%block body%}
<div class="contenedor">
	{%if documento_%}
		<button id="agregar_pre_dic"> Agregar Materia</button>
		<br> <br>
		{%for materia in detalles_documentos%}
			<div>
				Asignatura UTEL: {{materia.materia_utel.asignatura}} <br><br>
				Asignatura Externa: {{materia.materia_externa.nombre}} <br><br>
				{%if materia.calificacion%}
					Calificacion {{materia.calificacion}} <br><br>
				{%endif%}
				{%if user == materia.documento.capturista%}
					<button class="materia" onclick="editar_materia({{materia.id}})">Editar Materia</button>
				{%endif%}
			</div>
			<br>
		{%endfor%}
	{%else%}
		<button id="agregar_eq" class="btn_agregar_doc"> Agregar Documento</button>
	{%endif%}
	<a href="/buscador/" class="boton">Ir al Buscador</a>
    </div>
{%endblock body%}
