{%extends "captura/base.html"%}
{%block js%}
	<script>
	jQuery(document).ready(function($) {
		$('#agregar_pre_dic').click(function(){
			$.get('/agregar_pre_dic/', function(data) {
				$.fancybox(data);
				$.fancybox.center(true);
			});
		});
	});

	function editar_materia(id_materia){
		$.get('/editar_materia/' + id_materia  +'/', function(data) {
			$.fancybox(data);
			$.fancybox.center(true);
		});
	}
	  	function editar_documento(){
    		$.get('/editar_documento/' + $('#documento_id').val() +'/', function(data) {
				$.fancybox(data);
				$.fancybox.center(true);
			});
    	}
	</script>
{%endblock js%}
{%block body%}
	{%if documento_%}
    <div class="informacion_documento no_borde">
		<p><b>Universidad:</b><br /> {{documento_.universidad}}</p>
		{%if documento_.folio%}
			<p><b>Folio:</b><br /> {{documento_.folio}}</p>
		{%endif%}
		<p><b>Tipo del documento:</b><br /> {{documento_.tipo_docto.tipo_docto}}</p>
		<p><b>Programa externo:</b><br /> {{documento_.programa_externo.nombre}}</p>
		<p><b>Nombre del Capturista:</b><br /> {{documento_.capturista.first_name}} {{documento_.capturista.last_name}}</p>
		<p><b>Nombre del Prospecto o Alumno:</b><br /> {{documento_.alumno_prospecto}}</p>
		<p><b>Municipio:</b><br /> {{documento_.municipio.municipio}}</p>
		<p><b>Entidad:</b><br /> {{documento_.municipio.entidad.entidad}}</p>
		<p><b>País:</b><br /> {{documento_.municipio.entidad.pais.pais}}</p>
        <p class="botones_edicion">
		<button onClick="editar_documento()" id="editar_documento" class="editar_documento">Editar documento</button>
		<input type="hidden" value="{{documento_.id}}" id="documento_id">
	{%if user == documento_.capturista%}
		<button id="agregar_pre_dic" class="btn_agregar_doc"> Agregar Materia</button>
		</p>
	{%endif%}

		{%for materia in detalles_documentos%}
			<div class="informacion_documento">
				<p class="asignaturas"><b>Asignatura UTEL:</b></b><br /> {{materia.materia_utel.asignatura}}</p>
				<p class="asignaturas"><b>Asignatura Externa:</b><br /> {{materia.materia_externa.nombre}}</p>
				{%if materia.calificacion%}
					<p class="calificacion"><b>Calificacion:</b><br /> {{materia.calificacion}}</p>
				{%endif%}
				{%if user == materia.documento.capturista%}
					<p class="acciones"><button class="materia" onclick="editar_materia({{materia.id}})" title="Editar Materia"></button></p>
				{%endif%}
                </div>
		{%endfor%}
	{%else%}
    <div class="botones_modal btn_resultado">
		<button id="agregar_eq" class="btn_agregar_doc"> Agregar Documento</button>
	{%endif%}
	<a href="/buscador/" class="boton derecha">Ir al Buscador</a>
    </div>
{%endblock body%}
