<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script>
		jQuery(document).ready(function($) {
			$('#misma_persona').click(function(){
				$.get('/agregar_documento/', "{{info_misma_persona}}" function(data) {
					$.fancybox(data);
					$.fancybox.center(true);
				});
			});
			$('#otro_documento').click(function(){
				$.get('/agregar_documento/', function(data) {
					$.fancybox(data);
					$.fancybox.center(true);
				});
			});
		});
	</script>
</head>
<body>
	<button id="misma_persona"> Agregar otro documento a la misma persona</button>
	<button id="otro_documento">Agregar otro documento</button>
</body>
</html>